{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">Notes</h1>



<!--For each item in dictorionary imagesets-->
{% for imageset in imageSetsList %}
<div class="row">
    <div class="col-md-12">
      {% for elem in imageset %}
        <div class="card">
            <div class="card-body">
                <p>test</p>
            </div>
        </div>
      {% endfor %}
    </div>
</div>
{% endfor %}



<!-- {% for imageset in imagesets %}<img src="{{url_for('static', filename=imageset)}}" alt="{{imageset}}" width="auto" height="200px" padding="5px">{% endfor %} -->


<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
    <!-- {{ note.data }}
    <button type="button" class="close" onClick="deleteNote({{note.id}})">
      <span aria-hidden="true">&times;</span>
    </button> -->
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Note</button>
  </div>
</form>
{% endblock %}
