{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class="wrapper">

<h1 align="center" style="color:black; margin: 20px;">Image Collections</h1>

<!-- {% for key in imageSets %}
  {{ key }}: {{ value }}
{% endfor %} -->

<table style="color:black;">
  {% for image_setSortedId in imageSets %}
      <!-- <p style="color:black;">{{ image_setSortedId }}</p> -->
      <tr>
      {% for image_setDbId in imageSets[image_setSortedId] %}
          <!-- Check if the image_setDbId is not none-->
          {% if imageSets[image_setSortedId][image_setDbId][0] is defined %}    
                <!-- {{ image_setDbId }}{{imageSets[image_setSortedId][image_setDbId]}} -->
                <!-- TESTS -->
                <!-- <p style="color:black;">"1: " + {{ image_setDbId }}</p>
                <p style="color:black;">"2: " + {{imageSets[image_setSortedId][image_setDbId]}}</p>
                <p style="color:black;">"3: " + {{imageSets[image_setSortedId][image_setDbId][0]}}</p>
                <p style="color:black;">"4: " + {{ image_setSortedId[0][5] }}</p>  
                <p style="color:black;">"5: " + {{ imageSets['0'].image_set_id  }}</p>
                <p style="color:black;">"6: " + {{ imageSets[image_setSortedId].image_set_id  }}</p> -->
                <!-- Div containing the divs displaying them in a line
                <div class="row">
                  <div class="col-md-12">
                    <!-- Div containing the images -->
                    <div class="card">
                      <h5 class="card-header" style="color:black">ImageSet</h5>
                      <div class="card-body">
                        <img class="image" src="/static/sftp/images/imageset_{{ imageSets[image_setSortedId].image_set_id  }}/{{imageSets[image_setSortedId][image_setDbId][0]}}" alt="{{imageSets[image_setSortedId][image_setDbId][0]}}" width="auto" height="200px" padding="5px">
                        <img class="image"src="/static/sftp/images/imageset_{{ imageSets[image_setSortedId].image_set_id  }}/{{imageSets[image_setSortedId][image_setDbId][1]}}" alt="{{imageSets[image_setSortedId][image_setDbId][1]}}" width="auto" height="200px" padding="5px">
                        <img class="image" src="/static/sftp/images/imageset_{{ imageSets[image_setSortedId].image_set_id  }}/{{imageSets[image_setSortedId][image_setDbId][2]}}" alt="{{imageSets[image_setSortedId][image_setDbId][2]}}" width="auto" height="200px" padding="5px">
                        <!-- Div button to push the render job -->
                      </div>
                      <footer class="card-footer">
                        <button type="button" class="btn btn-primary button" onClick="saveJob({{user.id}}, {{imageSets[image_setSortedId].image_set_id }})">Render</button>
                        <!-- Div button to delete the collection with warning colour -->
                        <button type="button" class="btn btn-danger button">Delete</button>
                        </footer> 
                    </div>
                  </div>
      {% endif %}
        <!-- <td style="color:black" >{{ image_setDbId }}</td> -->
      {% endfor %}
    </tr>
    
  {% endfor %}
</table>

<!-- ## Display for each image set -->
<!-- {% for image_set in imageSets %}
  <div class="row">
    {% for image_name in image_set.image_names %}
      <p style="color:black;">TEST</p>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <img src="{{url_for('static', filename=image_name)}}" alt="{{image_name}}" width="auto" height="200px" padding="5px">
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endfor %} -->


<!-- {% for image in imageSets %}
  
    <li>{{ image.image_name }}</li>
{% endfor %} -->

<!--For each item in dictorionary imagesets-->
<!-- {% for imageset in imageSetsList %}
<div class="row">
    <div class="col-md-12">
      {% for elem in imageset %}
        <div class="card">
            <div class="card-body">
                <p>test</p>
            </div>
        </div>
      {% endfor %}
    </div>
</div>
{% endfor %} -->



<!-- {% for imageset in imagesets %}<img src="{{url_for('static', filename=imageset)}}" alt="{{imageset}}" width="auto" height="200px" padding="5px">{% endfor %} -->


<!-- <ul class="list-group list-group-flush" id="notes"> -->
  <!-- {% for note in user.notes %} -->
  <!-- <li class="list-group-item"> -->
    <!-- {{ note.data }}
    <button type="button" class="close" onClick="deleteNote({{note.id}})">
      <span aria-hidden="true">&times;</span>
    </button> -->
  <!-- </li> -->
  <!-- {% endfor %} -->
<!-- </ul>
<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Note</button>
  </div>
</form> -->

<!-- Imports the baseScript.html template to load scripts -->






</div>

{% endblock %}
{% include 'baseScript.html' %}
