{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
  %}
  <div class="wrapper">
  
  <h1 align="center" style="color:black; margin: 20px;">Meshroom Renders</h1>
  
  <table style="color:black;">
  
    {% for render in renders %}
    
        <!-- <p style="color:black;">{{ render }}</p> -->

        <!-- <p style="color:black;">"2: " + {{renders[render]}}</p>
        <p style="color:black;">"3: " + {{render[1]}}</p>
        <p style="color:black;">"4: " + {{render[2] }}</p>
        <p style="color:black;">"4: " + {{render[3] }}</p> -->

        <tr>
            <!-- Check if the image_setDbId is not none-->
                  <!-- Div containing the divs displaying them in a line -->
                  <div class="row">
                    <div class="col-md-12">
                      <!-- Div containing the images -->
                      <div class="card">
                      
                        <h5 class="card-header" style="color:black; background-color: rgb(145, 247, 159);"  > Finsihed render for image collection id: {{render[3]}}</h5>
                       
                        <div class="card-body" style="text-align: left;">
                          <p class="card-text" style="color:black">Job id: {{render[0]}}</p>
                          <p class="card-text" style="color:black">Job status: {{render[1]}}</p>
                          <!-- Div button to push the render render -->
                        </div>
                        <footer class="card-footer">
                          <!-- <button type="button" class="btn btn-primary button" onClick="saveJob({{user.id}})">Render</button> -->
                          <!-- Div button to delete the collection with warning colour -->
                          <button type="button" class="btn btn-success button" onClick="location.href='renderview/{{render[0]}}'">View 3D model</button>
                          <button type="button" class="btn btn-danger button" onClick="deleteRender({{user.id}}, {{render[0]}})">Delete Render</button>
                          </footer> 
                      </div>
                    </div>
  

      </tr>
      
    {% endfor %}
  </table>
  

  
  
  
  </div>
  
  {% endblock %}
  {% include 'baseScript.html' %}
  
  